<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <title>Shoe/Heven</title>
  </head>

  <body>
    <div id="toastBox"></div>
    <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" id="title">Shoe/Haven</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">
                <ion-icon name="home-outline"></ion-icon> Home</a
              >
            </li>
            <li class="nav-item">
              <a
                type="button"
                class="nav-link active"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                <ion-icon name="cart-outline"></ion-icon> Cart
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#foot"
                ><ion-icon name="call-outline"></ion-icon> Contact us</a
              >
            </li>
          </ul>
          <form
            class="d-flex"
            role="search"
            ng-app="my-app"
            ng-controller="my-control"
          >
            <div
              style="position: relative; width: 300px"
              class="search-component"
            >
              <input
                id="input"
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                style="width: inherit"
                ng-model="test"
                ng-focus="showSearch()"
                ng-blur="hideSearch()"
              />
              <div
                id="search"
                style="
                  position: absolute;
                  border-radius: 10px;
                  display: none;
                  z-index: 5;
                  overflow-y: hidden;

                  max-height: 200px;
                  height: max-content;
                  width: inherit;
                  background-color: white;
                "
              >
                <li
                  ng-repeat="x in List | filter:test"
                  style="list-style: none; padding: 2%"
                  ng-bind-html="x"
                ></li>
              </div>
            </div>
          </form>
        </div>
      </div>
    </nav>
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Cart</h1>
            <button
              type="button"
              class="btn btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body" id="cart"></div>
          <div class="model-footer">
            <hr />
            <p class="totaltxt">
              <b>Total: ₹<span id="total">0.0</span></b>
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-dark btn btn-dark-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-dark">Buy</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container shop" align="center">
      <div class="row align-items-center justify-content-between">
        <div class="col">
          <div class="card shadow-sm" style="width: 18rem">
            <div id="carouselExample" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="F:/WT/Images/shoe1-1t4.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe1-2t4.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe1-3t4.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">Air Jordan 1 Next Chapter</h5>
              <p class="card-text">
                MRP: ₹<span class="price">18,395.00</span>
              </p>
              <button class="btn btn-dark addContentButton" id="btn0">
                Add To Cart
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="width: 18rem">
            <div id="carouselExample2" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="F:/WT/Images/shoe2-2.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe2-1.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe2-3.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample2"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample2"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">Nike Air Force 1 Mid '07</h5>
              <p class="card-text">
                MRP: ₹<span class="price">10,795.00</span>
              </p>
              <button href="#" class="btn btn-dark addContentButton" id="btn1">
                Add To Cart
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="width: 18rem">
            <div id="carouselExample3" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="F:/WT/Images/shoe3-2.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe3-1.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe3-3.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample3"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample3"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">Nike Air Max 1'86 OG NRG</h5>
              <p class="card-text">
                MRP: ₹<span class="price">15,995.00</span>
              </p>
              <button href="#" class="btn btn-dark addContentButton" id="btn2">
                Add To Cart
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="width: 18rem">
            <div id="carouselExample4" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="F:/WT/Images/shoe4-2.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe4-1.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe4-3.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample4"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample4"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">Air Jordan 7 Retro</h5>
              <p class="card-text">
                MRP: ₹<span class="price">16,410.00</span>
              </p>
              <button href="#" class="btn btn-dark addContentButton" id="btn3">
                Add To Cart
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="width: 18rem">
            <div id="carouselExample5" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="F:/WT/Images/shoe5-1.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe5-3.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe5-2.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample5"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample5"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">Superstar Shoes</h5>
              <p class="card-text">MRP: ₹<span class="price">6,999.50</span></p>
              <button href="#" class="btn btn-dark addContentButton" id="btn4">
                Add To Cart
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="width: 18rem">
            <div id="carouselExample6" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="F:/WT/Images/shoe6-1.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe6-2.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe6-3.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample6"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample6"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">NMD_R1 V2 Shoes</h5>
              <p class="card-text">
                MRP: ₹<span class="price">14,999.00</span>
              </p>
              <button href="#" class="btn btn-dark addContentButton" id="btn5">
                Add To Cart
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="width: 18rem">
            <div id="carouselExample7" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="F:/WT/Images/shoe7-1.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe7-2.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe7-3.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample7"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample7"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">Converse Chuck Taylor All Stars</h5>
              <p class="card-text">MRP: ₹<span class="price">5,330.00</span></p>
              <button href="#" class="btn btn-dark addContentButton" id="btn6">
                Add To Cart
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="width: 18rem">
            <div id="carouselExample8" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="F:/WT/Images/shoe8-2.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe8-1.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe8-3.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample8"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample8"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">Reebok Question Low Shoes</h5>
              <p class="card-text">MRP: ₹<span class="price">7,199.00</span></p>
              <button href="#" class="btn btn-dark addContentButton" id="btn7">
                Add To Cart
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="width: 18rem">
            <div id="carouselExample9" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="F:/WT/Images/shoe9-2.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe9-1.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe9-3.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample9"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample9"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">Nike Air Max 90 SE</h5>
              <p class="card-text">
                MRP: ₹<span class="price">10,877.00</span>
              </p>
              <button href="#" class="btn btn-dark addContentButton" id="btn8">
                Add To Cart
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="width: 18rem">
            <div id="carouselExample10" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="F:/WT/Images/shoe10-2.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe10-1.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe10-3.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample10"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample10"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">BMW M Motorsport SPEEDFUSION</h5>
              <p class="card-text">MRP: ₹<span class="price">4,499.00</span></p>
              <button href="#" class="btn btn-dark addContentButton" id="btn9">
                Add To Cart
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="width: 18rem">
            <div id="carouselExample11" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="F:/WT/Images/shoe11-1.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe11-2.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe11-3.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample11"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample11"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                304 BEIGE DOODLE PRINT CANVAS HIGH-TOP SNEAKER
              </h5>
              <p class="card-text">MRP: ₹<span class="price">4,799.00</span></p>
              <button href="#" class="btn btn-dark addContentButton" id="btn10">
                Add To Cart
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm" style="width: 18rem">
            <div id="carouselExample12" class="carousel slide">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="F:/WT/Images/shoe12-1.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe12-2.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="F:/WT/Images/shoe12-3.png"
                    class="card-img-top d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExample12"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExample12"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <div class="card-body">
              <h5 class="card-title">706 BLACK RED GRAPHIC CHUNKY SNEAKER</h5>
              <p class="card-text">MRP: ₹<span class="price">5,999.00</span></p>
              <button href="#" class="btn btn-dark addContentButton" id="btn11">
                Add To Cart
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer align="center" id="foot">
      <div class="footer">
        <div class="row">
          <a href="#" class="col"><i class="fa fa-facebook"></i></a>
          <a href="#" class="col"><i class="fa fa-instagram"></i></a>
          <a href="#" class="col"><i class="fa fa-youtube"></i></a>
          <a href="#" class="col"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="row">
          <ul>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms and Conditions</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="stylejs.js"></script>
    <!-- jiojsjiojijoi -->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
